<#include "header.html">

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">                              
                <div class="row">
                    <div class="col-lg-12"><br/>                       
                        <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            AGENT INFORMATION DETAIL
                        </div>
                        <div class="panel-body">                                                                
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" action="agent_data">
                                        <!-- Data new panel panel-default -->
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading text-center">DATA NEW</div>
                                                <div class="panel-body">                                                                                   
                                                    <div class="form-group">
                                                        <label>Index :</label>
                                                        <input class="form-control" type="text" name="agent_id" placeholder="Auto Run">                                            
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Name : </label>
                                                        <input class="form-control" type="text" name="name" placeholder="Name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Address : </label>
                                                        <textarea class="form-control" rows="4" name="address"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Location / City : </label>
                                                        <input class="form-control" type="text" name="location" placeholder="Location">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Telephone : </label>
                                                        <input class="form-control" type="text" name="phone" placeholder="Telephone">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Fax : </label>
                                                        <input class="form-control" type="text" name="fax" placeholder="FAX">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Email : </label>
                                                        <input class="form-control" type="text" name="email" placeholder="Email">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Social : </label>
                                                        <input class="form-control" type="text" name="social" placeholder="Social">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Status : </label>
                                                        <select class="form-control" name="status">
                                                            <option>Active</option>
                                                            <option>Cancel</option>
                                                        </select>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div> 
                                        <!-- End data new panel panel-default -->
                                                                                
                                        <button type="reset" class="btn btn-primary"><i class="fa fa-share-square-o"></i>  Clear</button>
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>  Save</button>
                                        <a href="agent_information"><button type="button" class="btn btn-primary"><i class="fa fa-external-link"></i>  Done</button></a>
                                        
                                    </form>
                                </div>                                
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

<#include "footer.html"> 
