<#include "header.html">

        <!-- Page Content -->
        <div id="page-wrapper"><br/>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel panel-heading"><h5 class="text-center">HOTEL CONFIRM BOOKING</h5></div>
                        <div class="panel-body">
                            <!-- Start form heading -->
                            <div class="row">
                                <div class="col-sm-12">
                                <form class="form-horizontal">
                                    <div class="panel-body">
                                        <div class="form-group form-group-sm">
                                            <label class="col-sm-9 control-label" for="formGroupInputSmall">Booking ID : </label>
                                            <div class="col-sm-3">
                                                <input class="form-control" type="text" id="formGroupInputSmall" placeholder="Auto ID">
                                            </div>
                                        </div>
                                        <div class="form-group form-group-sm">
                                            <label class="col-sm-9 control-label">Booking Date : </label>
                                            <div class="col-sm-3">
                                                <input class="form-control" type="text" placeholder="Auto date">
                                            </div>
                                        </div>
                                        <div class="form-group form-group-sm">
                                            <label class="col-sm-2 control-label">Select Hotel : </label>
                                            <div class="col-sm-4">
                                                <select class="form-control">
                                                    <option>select</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-sm">
                                            <label class="col-sm-2 control-label">To : </label>
                                            <div class="col-sm-4">
                                                <input class="form-control" type="text" placeholder="Enter name">
                                            </div>
                                        </div>
                                        <div class="form-group form-group-sm">
                                            <label class="col-sm-2 control-label">Address : </label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group form-group-sm">
                                            <label class="col-sm-2 control-label">Location / City : </label>
                                            <div class="col-sm-2">
                                                <input class="form-control" type="text">
                                            </div>
                                            <label class="col-sm-2 control-label">Phone : </label>
                                            <div class="col-sm-2">
                                                <input class="form-control" type="text">
                                            </div>
                                            <label class="col-sm-2 control-label">Fax : </label>
                                            <div class="col-sm-2">
                                                <input class="form-control" type="text">
                                            </div>
                                        </div>
                                    </div>                                    
                                </form>
                                </div>                                                             
                            </div>
                            <!-- End form heading -->   
                            
                            <!-- Start select code to continues --> 
                            <div class="row">
                                <div class="col-lg-12">                                    
                                    <form role="form">
                                     <!-- Code panel panel-default -->
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading text-center">Select tour code to continues</div>
                                                <div class="panel-body text-center">                                                                                                                                     
                                                    <div class="col-lg-10 form-group">                                                        
                                                        <select class="form-control">
                                                            <option>select</option>                                                                
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <a href="#"><button type="button" class="btn btn-primary"><i class="fa fa-file-text"></i>  ADD NEW</button></a>
                                                    </div>                                                                                                        
                                                </div> 
                                            </div>    
                                        </div>                                                
                                    </form>                                      
                                </div>                                
                            </div>
                            <!-- End select code to continues --> 
                            
                            <!-- Start form content -->
                            <div class="row">
                                <div class="col-lg-12">                                                                                                         
                                    <form role="form" action="hotel_confirm">
                                        <!-- A panel panel-default -->
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading text-center">Reference Booking Detail</div>
                                                <div class="panel-body text-center">                                                                                   
                                                    <!-- Start tour detail panel panel-default -->
                                                    <div class="col-lg-12">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading text-center">Tour detail</div>
                                                            <div class="panel-body text-center">                                                                                   
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <label>Code</label>
                                                                        <input class="form-control text-center" placeholder="tour code">                                            
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <label>Check in</label>
                                                                        <input class="form-control text-center" placeholder="date">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <label>Check out</label>
                                                                        <input class="form-control text-center" placeholder="date">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <label>Night</label>
                                                                        <input class="form-control text-center" placeholder="night">
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                    </div>
                                                    <!-- End tour detail panel panel-default -->
                                                    
                                                    <!-- Start room type panel panel-default -->
                                                    <div class="col-lg-12">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading text-center">Room type</div>
                                                            <div class="panel-body text-center">
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <label>Single</label>
                                                                        <input class="form-control text-center" placeholder="single">                                            
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <label>Twin</label>
                                                                        <input class="form-control text-center" placeholder="twin">
                                                                    </div>
                                                                </div> 
                                                                <div class="col-lg-3">    
                                                                    <div class="form-group">
                                                                        <label>Double</label>
                                                                        <input class="form-control text-center" placeholder="double">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <label>Triple</label>
                                                                        <input class="form-control text-center" placeholder="triple">
                                                                    </div>
                                                                </div>    
                                                            </div> 
                                                        </div>
                                                    </div> 
                                                    <!-- <!-- End room type panel panel-default -->

                                                    <!-- Start comment panel panel-default -->
                                                    <div class="col-lg-12">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading text-center">Comment</div>
                                                            <div class="panel-body text-center"> 
                                                                <div class="col-lg-4">
                                                                    <div class="form-group">
                                                                        <label>Remark</label>
                                                                        <input class="form-control text-center" placeholder="[text]">                                            
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <div class="form-group">
                                                                        <label>Confirm code</label>
                                                                        <input class="form-control text-center" placeholder="[text]">                                            
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <div class="form-group">
                                                                        <label>Status</label>
                                                                        <select class="form-control">
                                                                            <option>Active</option>
                                                                            <option>Cancel</option>
                                                                        </select>
                                                                    </div>
                                                                </div>    
                                                            </div> 
                                                        </div>
                                                    </div> 
                                                    <!-- End comment panel panel-default -->
                                                </div> 
                                            </div>                                            
                                        </div> 
                                        <!-- End A panel panel-default -->                                                                                                            
                                        
                                        <!-- Start btn  in Reference Booking Detail -->
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="panel-body text-center">                                                 
                                                    <div class="col-lg-6">
                                                        <button type="reset" class="btn btn-primary"><i class="fa fa-share-square-o"></i>  Clear</button>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>  Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                        <!-- Start btn  in Reference Booking Detail -->
                                        
                                        <a href="#"><button type="button" class="btn btn-primary"><i class="fa fa-print"></i>  Print</button></a>                                          
                                        <a href="hotel_cancel"><button type="button" class="btn btn-primary"><i class="fa fa-external-link"></i>  Done</button></a>
                                                    
                                    </form>
                                </div>                                
                            </div>
                            <!-- /.row (nested) -->
                            <!-- End form content -->
                            
                        </div>
                    </div>
                </div>
            </div>        
        </div>
        <!-- /#page-wrapper -->

<#include "footer.html">