<#include "header.html">

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">                              
                <div class="row">
                    <div class="col-lg-12"><br/>                       
                        <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            LOCATION INFORMATION DETAIL
                        </div>
                        <div class="panel-body">                                                                
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" action="location_information">
                                        <!-- panel panel-default -->
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading text-center">DATA NEW</div>
                                                <div class="panel-body">                                                                                   
                                                    <div class="form-group">
                                                        <label>Index :</label>
                                                        <input class="form-control" type="text" name="location_id" placeholder="Auto run">                                            
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Name : </label>
                                                        <input class="form-control" type="text" name="location_name" placeholder="name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Address : </label>
                                                        <textarea class="form-control" name="location_address" rows="4"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Location / City : </label>
                                                        <input class="form-control" type="text" name="location_location" placeholder="location">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Telephone : </label>
                                                        <input class="form-control" type="text" name="location_telephone" placeholder="telephone">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Fax : </label>
                                                        <input class="form-control" type="text" name="location_fax" placeholder="fax">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Email : </label>
                                                        <input class="form-control" type="text" name="location_email" placeholder="email">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Website : </label>
                                                        <input class="form-control" type="text" name="location_website" placeholder="website">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Contact : </label>
                                                        <input class="form-control" type="text" name="location_contract" placeholder="contract">
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Status : </label>
                                                        <select class="form-control" name="location_info_status">
                                                            <option>Active</option>
                                                            <option>Cancel</option>
                                                        </select>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div> 
                                        <!-- End panel panel-default -->                                         
                                        
                                        <button type="reset" class="btn btn-primary"><i class="fa fa-share-square-o"></i>  Clear</button>
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>  Save</button>
                                        <a href="location_information"><button type="button" class="btn btn-primary"><i class="fa fa-external-link"></i>  Done</button></a>
                                    </form>
                                </div>                                
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

<#include "footer.html">