<#include "header.html">

        <!-- Page Content -->
        <div id="page-wrapper"><br/>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel panel-heading"><h5 class="text-center">RESTAURANT INFORMATION</h5></div>
                        <div class="panel-body">
                            <div class="row">
                            <div class="col-lg-8">
                                <a href="restaurant_information_add"><button type="button" class="btn btn-primary">ADD</button></a>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search....">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                    </span>                                    
                                </div>                            
                            </div>                            
                            </div><br/>
                            
                            <!-- Table -->
                            <div class="row">
                            <div class="col-lg-12">
                                <div class="dataTable_wrapper">
                                    <table class="table table-responsive table-bordered">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" class="text-center">No.</th>                                                
                                                <th rowspan="2" class="text-center">Name</th>
                                                <th rowspan="2" class="text-center">Location / City</th>                                                
                                                <th rowspan="2" class="text-center">Telephone</th>                                                                                               
                                                <th rowspan="2" class="text-center">Fax</th>                                                
                                                <th rowspan="2" class="text-center">Status</th>
                                                </tr>                                                
                                        </thead>
                                        <tbody class="text-center">
                                            <tr>
                                                <td>1</td>
                                                <td>Bai Yoke Sky</td>
                                                <td>Bangkok</td>                                                
                                                <td>02-7158888</td>                                                                                                
                                                <td>02-7158877</td>                                                
                                                <td>Active</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Bai Yoke Sky</td>
                                                <td>Bangkok</td>                                                
                                                <td>02-7158888</td>                                                                                                
                                                <td>02-7158877</td>                                                
                                                <td>Active</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Bai Yoke Sky</td>
                                                <td>Bangkok</td>                                                
                                                <td>02-7158888</td>                                                                                                
                                                <td>02-7158877</td>                                                
                                                <td>Active</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Bai Yoke Sky</td>
                                                <td>Bangkok</td>                                                
                                                <td>02-7158888</td>                                                                                                
                                                <td>02-7158877</td>                                                
                                                <td>Active</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Bai Yoke Sky</td>
                                                <td>Bangkok</td>                                                
                                                <td>02-7158888</td>                                                                                                
                                                <td>02-7158877</td>                                                
                                                <td>Active</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Bai Yoke Sky</td>
                                                <td>Bangkok</td>                                                
                                                <td>02-7158888</td>                                                                                                
                                                <td>02-7158877</td>                                                
                                                <td>Active</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>                                    
                            </div>
                            </div>
                            <!-- End Table -->
                            
                            <!-- Start pagination -->
                            <nav class="text-center">
                              <ul class="pagination">
                                <li>
                                  <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                  <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                              </ul>
                            </nav>
                            <!-- End pagination -->
                            
                        </div>
                    </div>
                </div>
            </div>        
        </div>
        <!-- /#page-wrapper -->

<#include "footer.html">