<#include "header.html">

        <!-- Page Content -->
        <div id="page-wrapper"><br/>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel panel-heading"><h5 class="text-center">TOUR INFORMATION</h5></div>
                        <div class="panel-body">
                            <div class="row">
                            <div class="col-lg-8">
                                <a href="tour_information_add"><button type="button" class="btn btn-primary">ADD</button></a>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search....">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                                    </span>                                    
                                </div>                            
                            </div>                            
                            </div><br/>
                            
                            <!-- Table -->
                            <div class="row">
                            <div class="col-lg-12">                                
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th rowspan="2" class="text-center" style="vertical-align: middle; display: table-cell;">Code</th>                                                
                                                <th rowspan="2" class="text-center" style="vertical-align: middle; display: table-cell;">Agent Name</th>
                                                <th rowspan="2" class="text-center" style="vertical-align: middle; display: table-cell;">Agent Code</th>                                                
                                                <th colspan="2" class="text-center">Flight In</th>                                                                                               
                                                <th colspan="2" class="text-center">Flight Out</th>
                                                <th colspan="6" class="text-center">Tourist</th>                                                
                                                <th rowspan="2" class="text-center" style="vertical-align: middle; display: table-cell;">Status</th>
                                            </tr>
                                            <tr>
                                                <th class="text-center">Date Time</th>
                                                <th class="text-center">Flight</th>
                                                <th class="text-center">Date Time</th>
                                                <th class="text-center">Flight</th>
                                                <th class="text-center">chd</th>
                                                <th class="text-center">adl1</th>
                                                <th class="text-center">adl2</th>
                                                <th class="text-center">t/l</th>
                                                <th class="text-center">psn</th>
                                                <th class="text-center">pax</th>                                                
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">
                                            <tr>
                                                <td>DRTT150502</td>
                                                <td>天津中信-沙</td>
                                                <td>CJ150502TG-T7</td>
                                                <td>01/05/2016 01:00</td>
                                                <td>FD9769</td>
                                                <td>06/05/2016 12:30</td>
                                                <td>FD9768</td>
                                                <td>28</td>
                                                <td>1</td>
                                                <td></td>
                                                <td>1</td>
                                                <td>28</td>
                                                <td>29</td>                                                
                                                <td>Active</td>
                                            </tr>
                                            <tr>
                                                <td>DRTT150502A</td>
                                                <td>上海锦江-张</td>
                                                <td>SJTSEA150430-003S</td>
                                                <td>01/05/2016 01:00</td>
                                                <td>FD9769</td>
                                                <td>06/05/2016 12:30</td>
                                                <td>FD9768</td>
                                                <td>28</td>
                                                <td></td>
                                                <td>1</td>
                                                <td>1</td>
                                                <td>28</td>
                                                <td>29</td>                                                
                                                <td>Active</td>
                                            </tr>
                                            <tr>
                                                <td>DRTT150503</td>
                                                <td>乐途</td>
                                                <td>0503曼谷（TG-6D5N</td>
                                                <td>01/05/2016 01:00</td>
                                                <td>FD9769</td>
                                                <td>06/05/2016 12:30</td>
                                                <td>FD9768</td>
                                                <td>28</td>
                                                <td></td>
                                                <td></td>
                                                <td>1</td>
                                                <td>28</td>
                                                <td>29</td>                                                
                                                <td>Active</td>
                                            </tr><tr>
                                                <td>DRTT150503A</td>
                                                <td>乐途</td>
                                                <td>0503曼谷（TG-6D5N</td>
                                                <td>01/05/2016 01:00</td>
                                                <td>FD9769</td>
                                                <td>06/05/2016 12:30</td>
                                                <td>FD9768</td>
                                                <td>28</td>
                                                <td></td>
                                                <td></td>
                                                <td>1</td>
                                                <td>28</td>
                                                <td>29</td>                                                
                                                <td>Active</td>
                                            </tr><tr>
                                                <td>DRTT150503B</td>
                                                <td>乐途</td>
                                                <td>0503曼谷（TG-7D6N）</td>
                                                <td>01/05/2016 01:00</td>
                                                <td>FD9769</td>
                                                <td>06/05/2016 12:30</td>
                                                <td>FD9768</td>
                                                <td>28</td>
                                                <td></td>
                                                <td></td>
                                                <td>1</td>
                                                <td>28</td>
                                                <td>29</td>                                                
                                                <td>Active</td>
                                            </tr><tr>
                                                <td>DRTT150505</td>
                                                <td>深圳联合-向</td>
                                                <td>LH08-150505-1T</td>
                                                <td>01/05/2016 01:00</td>
                                                <td>FD9769</td>
                                                <td>06/05/2016 12:30</td>
                                                <td>FD9768</td>
                                                <td>28</td>
                                                <td></td>
                                                <td></td>
                                                <td>1</td>
                                                <td>28</td>
                                                <td>29</td>                                                
                                                <td>Active</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>                                   
                            </div>
                            </div>
                            <!-- End Table -->
                            
                            <!-- Start pagination -->
                            <nav class="text-center">
                              <ul class="pagination">
                                <li>
                                  <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                  </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                  <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                  </a>
                                </li>
                              </ul>
                            </nav>
                            <!-- End pagination -->
                            
                        </div>
                    </div>
                </div>
            </div>        
        </div>
        <!-- /#page-wrapper -->

<#include "footer.html">
    