<#include "header.html">

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">                              
                <div class="row">
                    <div class="col-lg-12"><br/>                       
                        <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            JOB ORDER DETAIL
                        </div>
                        <div class="panel-body">                                                                
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" action="tour_job">
                                        <!-- Start tour detail panel panel-default -->
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading text-center">Tour Code</div>
                                                <div class="panel-body text-center">
                                                    <div class="col-lg-12">
                                                        <div class="form-group">                                                            
                                                            <input class="form-control text-center" type="text" name="tour_code" placeholder="">                                            
                                                        </div>
                                                    </div>                                                       
                                                </div> 
                                            </div>
                                        </div> 
                                        <!-- End tour detail panel panel-default -->

                                        <!-- Start select file TH panel panel-default -->
                                        <div class="col-lg-6">
                                            <div class="panel panel-default">
                                                <div class="panel-heading text-center">Select Job Order (TH)</div>
                                                <div class="panel-body text-center">                                                                                                                                    
                                                    <div class="col-lg-12">
                                                        <div class="form-group text-center">                                                            
                                                            <input type="file" name="select_file_th">
                                                        </div>
                                                    </div>    
                                                </div> 
                                            </div>
                                        </div> 
                                        <!-- End select file TH panel panel-default -->
                                        <!-- Start select file CH panel panel-default -->
                                        <div class="col-lg-6">
                                            <div class="panel panel-default">
                                                <div class="panel-heading text-center">Select Job Order (CH)</div>
                                                <div class="panel-body text-center">                                                                                                                                    
                                                    <div class="col-lg-12">
                                                        <div class="form-group text-center">                                                            
                                                            <input type="file" name="select_file_ch">
                                                        </div>
                                                    </div>    
                                                </div> 
                                            </div>
                                        </div> 
                                        <!-- End select file CH panel panel-default -->
                                                                            
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                            <label>Status</label>
                                                <select class="form-control" name="job_status">
                                                    <option>Active</option>
                                                    <option>Cancel</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <button type="reset" class="btn btn-primary"><i class="fa fa-share-square-o"></i>  Clear</button>
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>  Save</button>
                                        <a href="tour_job"><button type="button" class="btn btn-primary"><i class="fa fa-external-link"></i>  Done</button></a>
                                    </form>
                                </div>                                
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

<#include "footer.html">