<#include "header.html">

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">                              
                <div class="row">
                    <div class="col-lg-12"><br/>                       
                        <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            TOUR INFORMATION DETAIL
                        </div>
                        <div class="panel-body">                                                                
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" action="tour_information">
                                        <!-- Start tour detail panel panel-default -->
                                        <div class="col-lg-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading text-center">Tour detail</div>
                                                <div class="panel-body text-center">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label class="text-center">Code</label>
                                                            <input class="form-control text-center" type="text" name="tour_code" placeholder="Tour Code">                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label class="text-center">Agent Name</label>
                                                            <select class="form-control" name="agent_name">
                                                                <option>select</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label class="text-center">Agent Code</label>
                                                            <input class="form-control text-center" type="text" name="agent_code" placeholder="Agent Code">
                                                        </div> 
                                                    </div>    
                                                </div> 
                                            </div>
                                        </div> 
                                        <!-- End tour detail panel panel-default -->

                                        <!-- Start Fight In panel panel-default -->
                                        <div class="col-lg-6">
                                            <div class="panel panel-default">
                                                <div class="panel-heading text-center">Fight in</div>
                                                <div class="panel-body text-center">                                                                                   
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Fight In Time</label>
                                                            <input class="form-control text-center" type="text" name="fight_in_time" placeholder="01/05/2016 01:30">                                           
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Fight In Code</label>
                                                            <input class="form-control text-center" type="text" name="fight_in_code" placeholder="fight">
                                                        </div>
                                                    </div>    
                                                </div> 
                                            </div>
                                        </div> 
                                        <!-- End Fight In panel panel-default -->
                                        
                                        <!-- Start Fight Out panel panel-default -->
                                        <div class="col-lg-6">
                                            <div class="panel panel-default text-center">
                                                <div class="panel-heading">Fight out</div>
                                                <div class="panel-body text-center">   
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Fight Out Time</label>
                                                            <input class="form-control text-center" type="text" name="fight_out_time" placeholder="01/05/2016 01:30">                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="form-group">
                                                            <label>Fight Out Code</label>
                                                            <input class="form-control text-center" type="text" name="fight_out_code" placeholder="fight">
                                                        </div>
                                                    </div>    
                                                </div> 
                                            </div>
                                        </div> 
                                        <!-- End Fight Out panel panel-default -->
                                                                             
                                        <!-- Start Tourist panel panel-default -->
                                        <div class="col-lg-12">
                                            <div class="panel panel-default text-center">
                                                <div class="panel-heading">Tourist</div>
                                                <div class="panel-body text-center">   
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Child</label>
                                                            <input class="form-control text-center" type="text" name="child" placeholder="">                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Adult-1</label>
                                                            <input class="form-control text-center" type="text" name="adult1" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Adult-2</label>
                                                            <input class="form-control text-center" type="text" name="adult2" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>T/L</label>
                                                            <input class="form-control text-center" type="text" name="tl" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Person</label>
                                                            <input class="form-control text-center" type="text" name="person" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2">
                                                        <div class="form-group">
                                                            <label>Pax</label>
                                                            <input class="form-control text-center" type="text" name="pax" placeholder="">
                                                        </div>
                                                    </div>
                                                </div> 
                                            </div>
                                        </div> 
                                        <!-- End tourist panel panel-default -->
                                        
                                        <!-- Start officer panel panel-default -->
                                        <div class="col-lg-12">
                                            <div class="panel panel-default text-center">
                                                <div class="panel-heading">Officer</div>
                                                <div class="panel-body text-center">   
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>T/G Name</label>
                                                            <input class="form-control text-center" type="text" name="tg_name" placeholder="">                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>T/G Mobile</label>
                                                            <input class="form-control text-center" type="text" name="tg_mobile" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>T/L</label>
                                                            <input class="form-control text-center" type="text" name="tl_name" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group">
                                                            <label>T/L Mobile</label>
                                                            <input class="form-control text-center" type="text" name="tl_mobile" placeholder="">
                                                        </div>
                                                    </div>                                                    
                                                </div> 
                                            </div>
                                        </div> 
                                        <!-- End officer panel panel-default -->                                       
                                     
                                        <!-- Start hotel panel panel-default -->
                                        <div class="col-lg-12">
                                            <div class="panel panel-default text-center">
                                                <div class="panel-heading">Hotel Information</div>
                                                <div class="panel-body text-center">
                                                    
                                                    <!-- Start bkk (day-1) panel panel-default -->
                                                    <div class="col-lg-12">
                                                        <div class="panel panel-default text-center">
                                                            <div class="panel-heading text-center">                                                                                                                                  
                                                                <select class="form-control">
                                                                    <option>BKK (Day-1)</option>
                                                                    <option>BKK (Day-2)</option>
                                                                    <option>BKK (Day-3)</option>
                                                                    <option>BKK (Day-4)</option>
                                                                    <option>PTY (Day-1)</option>
                                                                    <option>PTY (Day-2)</option>
                                                                    <option>PTY (Day-3)</option>
                                                                    <option>PTY (Day-4)</option>
                                                                    <option>Other (Day-1)</option>
                                                                    <option>Other (Day-2)</option>
                                                                    <option>Other (Day-3)</option>
                                                                    <option>Other (Day-4)</option>
                                                                </select>                                                                                                                                            
                                                            </div>
                                                            <div class="panel-body text-center">                                                                   
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label>Degree</label>
                                                                        <select class="form-control" name="hotel_degree">
                                                                            <option>select</option>
                                                                            <option>5 Star</option>
                                                                            <option>5 Star(Inter)</option>
                                                                            <option>4 Star</option>
                                                                            <option>4 Star(Inter)</option>
                                                                            <option>3 Star</option>
                                                                        </select>                                            
                                                                    </div>
                                                                </div>                                                                                                       
                                                                <div class="col-lg-6">
                                                                    <div class="form-group">
                                                                        <label>Hotel Name</label>
                                                                        <select class="form-control" name="hotel_name">
                                                                            <option>select</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <div class="form-group">
                                                                        <label>Check in</label>
                                                                        <input class="form-control text-center" type="text" name="check_in" placeholder="">
                                                                    </div>
                                                                </div>                                                    
                                                                <div class="col-lg-4">
                                                                    <div class="form-group">
                                                                        <label>Check out</label>
                                                                        <input class="form-control text-center" type="text" name="check_out" placeholder="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <div class="form-group">
                                                                        <label>Night</label>
                                                                        <input class="form-control text-center" type="text" name="night" placeholder="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <label>Single</label>
                                                                        <input class="form-control text-center" type="text" name="room_single" placeholder="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <label>Twin</label>
                                                                        <input class="form-control text-center" type="text" name="room_twin" placeholder="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <label>Double</label>
                                                                        <input class="form-control text-center" type="text" name="room_double" placeholder="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-3">
                                                                    <div class="form-group">
                                                                        <label>Triple</label>
                                                                        <input class="form-control text-center" type="text" name="room_triple" placeholder="">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="form-group">
                                                                        <label>Remark</label>
                                                                        <input class="form-control text-center" type="text" name="remark" placeholder="">
                                                                    </div>
                                                                </div>
                                                            </div> 
                                                        </div>
                                                    </div> 
                                                    <!-- End bkk (day-1) panel panel-default -->
                                                    
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <a href="#"><button type="button" class="btn btn-primary"><i class="fa fa-plus-circle"></i>  ADD</button></a>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Issue by</label>
                                                            <input class="form-control text-center" type="text" name="issue_by" placeholder="">                                            
                                                        </div>
                                                    </div>                                                                                                       
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Confirm by</label>
                                                            <input class="form-control text-center" type="text" name="confirm_by" placeholder="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Status</label>
                                                            <select class="form-control" name="tour_status">
                                                                <option>Active</option>
                                                                <option>Cancel</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    
                                                </div> 
                                            </div>
                                        </div> 
                                        <!-- End hotel panel panel-default -->   
                                        
                                        <button type="reset" class="btn btn-primary"><i class="fa fa-share-square-o"></i>  Clear</button>
                                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>  Save</button>
                                        <a href="tour_information"><button type="button" class="btn btn-primary"><i class="fa fa-external-link"></i>  Done</button></a>
                                    </form>
                                </div>                                
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

<#include "footer.html">
    